{% extends "base.html" %}
{% block main %}
<h1><span class="fa fa-heartbeat"></span> {{ stamp.stamp }}{% if stamp.hostname %} on {{ stamp.hostname }}{% endif %}</h1>

<ol class="breadcrumb">
    <li><a href="{{ url_for(['StampsController', 'index']) }}">Stamps</a></li>
    {% if stamp.hostname %}
    <li><a href="{{ url_for(['StampsController', 'index']) }}?host={{ stamp.hostname }}">{{ stamp.hostname }}</a></li>
    {% endif %}
    <li><a href="{{ url_for(['StampsController', 'detail'], {'id': stamp.id}) }}">{{ stamp.stamp }}</a></li>
</ol>

<div class="row">
    <div class="col-xs-6">
        <div class="btn-group">
            <a href="{{ url_for(['StampsController', 'punchcard'], {'id': stamp.id}) }}" class="btn btn-default"><span class="fa fa-table"></span> Punchcard</a>
        </div>
    </div>

    <div class="col-xs-6 text-right">
        <div class="btn-group">
            <a href="{{ url_for(['HelpController', 'topic'], {'topic': 'stamps-detail'}) }}" onclick="show_help('stamps-detail'); return false;" class="btn btn-default"><span class="fa fa-question-circle-o"></span> Help</a>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h3 class="panel-title">Stamp detail</h3>
    </div>
    <div class="panel-body">
        <form action="{{ url_for(['StampsController', 'detail'], {'id': stamp.id}) }}" method="post" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Stamp name:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{ stamp.stamp }}</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Host:</label>
                <div class="col-sm-10">
                    <select name="server" class="form-control">
                        <option value=""{% if not stamp.server_id %} selected{% endif %}></option>
                        {% for server in servers %}
                        <option value="{{ server.id }}"{% if stamp.server_id == server.id %} selected{% endif %}>{{ server.hostname }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-10 col-sm-offset-2">
                    <p class="help-block">Set to empty server to allow this stamp to be collected from any server. Set to host to restrict the stamp only to selected host.</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Last stamp:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{ stamp.timestamp|datetime("Y-m-d G:i:s") }}</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Alert after:</label>
                <div class="col-sm-2">
                    <input type="text" name="alert_after" value="{{ stamp.alert_after|duration('short') }}" class="form-control" />
                </div>
                <div class="col-sm-10 col-sm-offset-2">
                    <p class="help-block">Set to empty to disable stamp checking. You can use units such as <code>w</code> for week, <code>d</code> for day, <code>h</code> for hour, <code>m</code> for minute, <code>s</code> for second. You can also combine more units together, for example <code>1d2h</code> for 1 day and 2 hours.</p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <button type="submit" name="remove" class="btn btn-danger" onclick="return confirm('Do you really want to remove this stamp?');">Remove</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h3 class="panel-title">Alerts</h3>
    </div>
    <div class="table-reponsive">
        <table class="panel-body table table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <th>When</th>
                    <th>Message</th>
                    <th class="td-shrink"></th>
                </tr>
            </thead>

            <tbody>
                {% for alert in alerts %}
                    <tr class="{% if alert.active %}danger{% endif %}">
                        <td class="text-nowrap">{{ alert.timestamp|datetime("Y-m-d H:i:s") }}</td>
                        <td>{{ alert.getMessage()|raw }}</td>
                        <td class="td-shrink">
                            {% if alert.active %}
                            <a class="btn btn-danger btn-xs" href="{{ url_for(['OverviewController', 'dismiss'], {'id': alert.id}) }}?back={{ url_for(['ChecksController', 'detail'], {'id': check.id}) }}">Dismiss</a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3"><div class="well">Hooray, no alerts to show!</div></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}