{% extends "base.html" %}
{% block title %}Role {{ role.name }}{% endblock %}
{% block main %}

<h1><span class="fa fa-cubes"></span> Roles</h1>

<ol class="breadcrumb">
    <li><a href="{{ url_for(['RolesController', 'index']) }}">Roles</a></li>
    <li><a href="{{ url_for(['RolesController', 'detail'], {'id': role.id}) }}">{{ role.name }}</a></li>
</ol>

<div class="btn-group">
    {% if current_user.hasAction('roles_write') %}
        <a href="{{ url_for(['RolesController', 'edit'], {'id': role.id}) }}" class="btn btn-default"><span class="fa fa-edit"></span> Modify</a>
        <a href="{{ url_for(['RolesController', 'remove'], {'id': role.id}) }}" class="btn btn-default" onclick="return confirm('Do you really want to remove this role?');"><span class="fa fa-remove"></span> Remove</a>
    {% endif %}
</div>

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h3 class="panel-title">{{ role.name }}</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Users with this role</h3>
            </div>

            <table class="table table-compacted table-striped table-hover">
                <thead>
                    <tr>
                        <th>User</th>
                    </tr>
                </thead>

                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.name }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td><div class="well">No users with this role.</div></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Actions assigned to this role</h3>
            </div>

            <table class="table table-compacted table-striped table-hover">
                <thead>
                    <tr>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    {% macro action_tree(actions, level) %}
                        {% import _self as macros %}
                        {% for action in actions %}
                            <tr>
                                <td>
                                    {% if level > 0 %}{% for i in range(0, level - 1) %}&nbsp;&nbsp;&nbsp;{% endfor %}{% endif %}
                                    {{ action.description }}
                                </td>
                            </tr>
                            {{ macros.action_tree(action.childs, level + 1) }}
                        {% endfor %}
                    {% endmacro %}

                    {% import _self as macros %}
                    {{ macros.action_tree(actions, 0) }}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}