{% extends "base.html" %}
{% block title %}Chart {{ chart.name }} on {{ check.name }}{% endblock %}
{% block main %}
<h1><span class="fa fa-hand-o-right"></span> {{ check.name }}</h1>

<ol class="breadcrumb">
{% if request.from == 'host' %}
    <li><a href="{{ url_for(['HostsController', 'index']) }}">Hosts</a></li>
    <li><a href="{{ url_for(['HostsController', 'detail'], {'id': check.server_id}) }}">{{ check.hostname }}</a></li>
    <li><a href="{{ url_for(['HostsController', 'charts'], {'id': check.server_id}) }}">Charts</a></li>
    <li><a href="{{ url_for(['ChecksController', 'detail'], {'id': check.id}) }}">{{ check.name }}</a></li>
    <li><a href="{{ url_for(['ChecksController', 'chart_detail'], {'check_id': check.id, 'chart_id': chart.id}) }}">{{ chart.name }}</a></li>
{% else %}
    <li><a href="{{ url_for(['ChecksController', 'overview']) }} ">Checks</a></li>
    <li><a href="{{ url_for(['ChecksController', 'detail'], {'id': check.id}) }}">{{ check.name }}</a> on <a href="{{ url_for(['HostsController', 'detail'], {'id': check.server_id}) }}">{{ check.hostname }}</a></li>
    <li><a href="{{ url_for(['ChecksController', 'charts'], {'id': check.id}) }}">Charts</a></li>
    <li><a href="{{ url_for(['ChecksController', 'chart_detail'], {'check_id': check.id, 'chart_id': chart.id}) }}">{{ chart.name }}</a></li>
{% endif %}
</ol>

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h2 class="panel-title">{{ chart.name }}</h2>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <h3>Daily</h3>
                <div class="chart-container">
                    <div class="chart">
                         <div id="chart_daily" data-legend="#chart_daily_legend"></div>
                    </div>
                </div>
                <div id="chart_daily_legend" class="chart-legend"></div>
            </div>

            <div class="col-sm-6">
                <h3>Weekly</h3>
                <div class="chart-container">
                    <div class="chart">
                         <div id="chart_weekly" data-legend="#chart_weekly_legend"></div>
                    </div>
                </div>
                <div id="chart_weekly_legend" class="chart-legend"></div>
            </div>
        </div>

        <div class="row" style="margin-top: 1em">
            <div class="col-sm-6">
                <h3>Monthly</h3>
                <div class="chart-container">
                    <div class="chart">
                         <div id="chart_monthly" data-legend="#chart_monthly_legend"></div>
                    </div>
                </div>
                <div id="chart_monthly_legend" class="chart-legend"></div>
            </div>

            <div class="col-sm-6">
                <h3>Yearly</h3>
                <div class="chart-container">
                    <div class="chart">
                         <div id="chart_yearly" data-legend="#chart_yearly_legend"></div>
                    </div>
                </div>
                <div id="chart_yearly_legend" class="chart-legend"></div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', 'flot/jquery.flot.min.js') }}"></script>
<script src="{{ url_for('static', 'flot/jquery.flot.time.min.js') }}"></script>
<script>
$(function(){
    var charts = [];
    var url_base = "{{ url_for(['ChecksController', 'chart_data'], {'id': check.id, 'chart_id': "-chart_id-"} ) }}";

    charts.push({"id": {{ chart.id }}, "container": "#chart_daily", "granularity": "daily"});
    charts.push({"id": {{ chart.id }}, "container": "#chart_weekly", "granularity": "weekly"});
    charts.push({"id": {{ chart.id }}, "container": "#chart_monthly", "granularity": "monthly"});
    charts.push({"id": {{ chart.id }}, "container": "#chart_yearly", "granularity": "yearly"});

    charts_multiple(charts, url_base);
});
</script>

{% endblock %}