{% extends "base.html" %}
{% block main %}
<h1><span class="fa fa-hand-o-right"></span> {{ check.name }}</h1>

<ol class="breadcrumb">
    <li><a href="{{ url_for(['ChecksController', 'index']) }} ">Checks</a></li>
    <li><a href="{{ url_for(['ChecksController', 'detail'], {'id': check.id}) }}">{{ check.name }}</a> on <a href="{{ url_for(['HostsController', 'detail'], {'id': check.server_id}) }}">{{ check.hostname }}</a></li>
    <li><a href="{{ url_for(['ChecksController', 'charts'], {'id': check.id}) }}">Charts</a></li>
</ol>

<div class="btn-group" role="group">
    <a href="{{ url_for(['ChecksController', 'detail'], {'id': check.id}) }}" class="btn btn-default"><span class="fa fa-hand-o-right"></span> Check</a>
    <a href="{{ url_for(['HostsController', 'charts'], {'id': check.server_id}) }}" class="btn btn-default"><span class="fa fa-hdd-o"></span> Host</a>
</div>

{% for chart in charts %}
<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h2 class="panel-title">{{ chart.name }}</h2>
    </div>
    <div class="panel-body">
        <div class="col-sm-6">
            <h3>Daily</h3>
            <a href="{{ url_for(['ChecksController', 'chart_detail'], {'check_id': check.id, 'chart_id': chart.id }) }}">
                <div class="chart-container">
                    <div class="chart">
                         <div id="chart{{ chart.id }}_daily" data-legend="#chart{{ chart.id }}_daily_legend"></div>
                    </div>
                </div>
                <div id="chart{{ chart.id }}_daily_legend" class="chart-legend"></div>
            </a>
        </div>

        <div class="col-sm-6">
            <h3>Weekly</h3>
            <a href="{{ url_for(['ChecksController', 'chart_detail'], {'check_id': check.id, 'chart_id': chart.id }) }}">
                <div class="chart-container">
                    <div class="chart">
                        <div id="chart{{ chart.id }}_weekly" data-legend="#chart{{ chart.id }}_weekly_legend"></div>
                    </div>
                </div>
                <div id="chart{{ chart.id }}_weekly_legend" class="chart-legend"></div>
            </a>
        </div>
    </div>
</div>
{% endfor %}

<script src="{{ url_for('static', 'flot/jquery.flot.min.js') }}"></script>
<script src="{{ url_for('static', 'flot/jquery.flot.time.min.js') }}"></script>
<script>
$(function(){
    var charts = [];
    var url_base = "{{ url_for(['ChecksController', 'chart_data'], {'id': check.id, 'chart_id': "-chart_id-"} ) }}";

    {% for chart in charts %}
    charts.push({"id": {{ chart.id }}, "container": "#chart{{ chart.id }}_daily", "granularity": "daily"});
    charts.push({"id": {{ chart.id }}, "container": "#chart{{ chart.id }}_weekly", "granularity": "weekly"});
    {% endfor %}

    charts_multiple(charts, url_base);
});
</script>

{% endblock %}