{% extends "base.html" %}
{% block main %}
<h1><span class="fa fa-hand-o-right"></span> {{ check.name }}</h1>

<ol class="breadcrumb">
    <li><a href="{{ url_for(['ChecksController', 'index']) }} ">Checks</a></li>
    <li><a href="{{ url_for(['ChecksController', 'detail'], {'id': check.id}) }}">{{ check.name }}</a> on <a href="{{ url_for(['HostsController', 'detail'], {'id': check.server_id}) }}">{{ check.hostname }}</a></li>
</ol>

<div class="btn-toolbar">
    <div class="btn-group" role="group">
        {% if check.enabled %}
            <a href="{{ url_for(['ChecksController', 'toggle'], {'id': check.id}) }}?back=detail" class="btn btn-default"><span class="text-success" title="Click to pause."><span class="fa fa-play"></span> Active</span></a>
        {% else %}
            <a href="{{ url_for(['ChecksController', 'toggle'], {'id': check.id}) }}?back=detail" class="btn btn-default"><span class="text-muted" title="Click to activate."><span class="fa fa-pause"></span> Paused</span></a>
        {% endif %}
        <a href="{{ url_for(['ChecksController', 'edit'], {'id': check.id}) }}?back=detail" class="btn btn-default"><span class="fa fa-edit"></span> Modify</a>
        <a href="{{ url_for(['ChecksController', 'remove'], {'id': check.id}) }}?back=detail" class="btn btn-default" onclick="return confirm('Do you really want to remove this check?')"><span class="fa fa-remove"></span> Remove</a>
    </div>

    {% if charts %}
    <div class="btn-group" role="group">
        <a href="{{ url_for(['ChecksController', 'charts'], {'id': check.id}) }}" class="btn btn-default"><span class="fa fa-area-chart"></span> Charts</a>
    </div>
    {% endif %}
</div>

<script>
    var formatter = formatters["{{ format|default('raw') }}"]
</script>

<div class="row">
    <div class="col-sm-{% if charts %}6{% else %}12{% endif %}">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Overview</h3>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Name:</dt>
                    <dd>{{ check.name }}</dd>

                    <dt>Server:</dt>
                    <dd>{{ check.hostname }}</dd>

                    <dt>Group:</dt>
                    <dd>{% if check.group %}{{ check.group }}{% else %}<span class="text-muted">None</span>{% endif %}</dd>

                    <dt>Type:</dt>
                    <dd>{{ check.type }}</dd>

                    <dt>Enabled:</dt>
                    <dd>{% if check.enabled %}<span class="label label-success">Yes</span>{% else %}<span class="label label-default">No</span>{% endif %}</dd>

                    <dt>Check interval:</dt>
                    <dd>{{ check.interval|duration }}</dd>

                    <dt>Last check:</dt>
                    <dd>{{ check.last_check|datetime }}</dd>
                </dl>
            </div>
            {% if charts %}
            <table class="panel-body table table-compacted table-striped table-hover">
                <thead>
                    <tr>
                        <th style="width: 52%">Reading</th>
                        <th style="width: 12%" class="text-right">Cur</th>
                        <th style="width: 12%" class="text-right">Min</th>
                        <th style="width: 12%" class="text-right">Max</th>
                        <th style="width: 12%" class="text-right">Avg</th>
                    </tr>
                </thead>
                <tbody id="legend">
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>

    {% if charts %}
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">{{ chart.name }}</h3>

                <ul class="panel-tool-options">
                    <li class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="granularityMenu">
                            Chart
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="granularityMenu">
                            {% for chart in charts %}
                            <li><a href="?chart={{ chart.id }}&amp;granularity={{ granularity }}">{{ chart.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>

                    <li class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="granularityMenu">
                            {{ granularity }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="granularityMenu">
                            <li><a href="?chart={{ chart.id }}&amp;granularity=daily">Daily</a></li>
                            <li><a href="?chart={{ chart.id }}&amp;granularity=weekly">Weekly</a></li>
                            <li><a href="?chart={{ chart.id }}&amp;granularity=monthly">Monthly</a></li>
                            <li><a href="?chart={{ chart.id }}&amp;granularity=yearly">Yearly</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="panel-body">
                <a href="{{ url_for(['ChecksController', 'chart_detail'], {'check_id': check.id, 'chart_id': chart.id }) }}">
                    <div class="chart-container">
                        <div class="chart">
                             <div id="chart" data-legend="#chart_legend"></div>
                        </div>
                    </div>
                    <div id="chart_legend" class="chart-legend"></div>
                </a>
            </div>
        </div>
    </div>
    {% endif %}
</div>

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h3 class="panel-title">Alerts</h3>
    </div>
    <div class="table-reponsive">
        <table class="panel-body table table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <th>When</th>
                    <th>Message</th>
                    <th class="td-shrink"></th>
                </tr>
            </thead>

            <tbody>
                {% for alert in alerts %}
                    <tr class="{% if alert.active %}danger{% endif %}">
                        <td class="text-nowrap">{{ alert.timestamp|datetime("Y-m-d H:i:s") }}</td>
                        <td>{{ alert.getMessage()|raw }}</td>
                        <td class="td-shrink">
                            {% if alert.active %}
                            <a class="btn btn-danger btn-xs" href="{{ url_for(['OverviewController', 'dismiss'], {'id': alert.id}) }}?back={{ url_for(['ChecksController', 'detail'], {'id': check.id}) }}">Dismiss</a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3"><div class="well">Hooray, no alerts to show!</div></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="{{ url_for('static', 'flot/jquery.flot.min.js') }}"></script>
<script src="{{ url_for('static', 'flot/jquery.flot.time.min.js') }}"></script>
<script>
    charts_multiple([
        {"id": {{ chart.id }}, "container": "#chart", "granularity": "{{ granularity }}", "legend_container": "#legend"}
    ], "{{ url_for(['ChecksController', 'chart_data'], {'id': check.id, 'chart_id': '-chart_id-'} ) }}");
</script>

{% endblock %}
