{% extends "base.html" %}
{% block title %}Checks{% endblock %}
{% block main %}
<h1><span class="fa fa-hand-o-right"></span> Checks</h1>

<ol class="breadcrumb">
    <li><a href="{{ url_for(['ChecksController', 'overview']) }} ">Checks</a></li>
    {% if not get.host and get.group != "" %}
        {% if get.group == "0" %}
            <li><a href="{{ url_for(['ChecksController', 'index']) }}?group=0">No group</a></li>
        {% else %}
            {% for group in groups %}
                {% if group.id == get.group %}
                    <li><a href="{{ url_for(['ChecksController', 'index']) }}?group={{ group.id }}">{{ group.name }}</a></li>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
    {% if get.host and get.group == "" %}
        <li><a href="{{ url_for(['ChecksController', 'index']) }}?host={{ get.host }}">{{ get.host }}</a></li>
    {% endif %}
    {% if not get.host and get.group == "" %}
        <li><a href="{{ url_for(['ChecksController', 'index']) }}">All</a></li>
    {% endif %}
</ol>

<div class="btn-group" role="group">
    {% if current_user.hasAction('checks_write') %}
    <a href="{{ url_for(['ChecksController', 'add']) }}" class="btn btn-default"><span class="fa fa-plus"></span> Add</a>
    {% endif %}
</div>

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h3 class="panel-title">Filter</h3>
        <ul class="panel-tool-options">
            <li><a data-toggle="collapse" href="#filterBody" aria-expanded="{% if get.name or get.host or get.type or get.group != '' %}true{% else %}false{% endif %}" aria-controls="filterBody"><span class="fa fa-chevron-down"></span></a></li>
        </ul>
    </div>
    <div class="collapse{% if get.name or get.host or get.type or get.group != '' %} in{% endif %}" id="filterBody">
        <div class="panel-body">
            <form action="{{ url_for(['ChecksController', 'index']) }}" method="get" class="form-horizontal">
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Name:</label>
                    <div class="col-sm-10">
                        <input type="text" name="name" id="inputName" value="{{ request.name }}" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputHost" class="col-sm-2 control-label">Host:</label>
                    <div class="col-sm-10">
                        <input type="text" name="host" id="inputHost" value="{{ request.host }}" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputGroup" class="col-sm-2 control-label">Group:</label>
                    <div class="col-sm-10">
                        <select name="group" id="inputGroup" class="form-control">
                            <option value=""{% if not request.group == "" %} selected{% endif %}></option>
                            <option value="0"{% if request.group == "0" %} selected{% endif %}>No group</option>
                            {% for group in groups %}
                                <option value="{{ group.id }}"{% if group.id == request.group %} selected{% endif %}>{{ group.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputType" class="col-sm-2 control-label">Type:</label>
                    <div class="col-sm-10">
                        <select name="type" id="inputType" class="form-control">
                            <option value=""{% if not request.type %} selected{% endif %}></option>
                            {% for type in types %}
                                <option value="{{ type.id }}"{% if type.id == request.type %} selected{% endif %}>{{ type.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" value="Show" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<table class="table table-striped table-compacted table-hover">
    <thead>
        <tr>
            <th colspan="2">{{ "Name"|sorted("name", true) }}</th>
            <th>{{ "Host"|sorted("hostname") }}</th>
            <th>{{ "Type"|sorted("type") }}</th>
            <th>{{ "Interval"|sorted("interval") }}</th>
            <th class="td-shrink"></th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <td colspan="6">{% include "pagination.html" %}</td>
        </tr>
    </tfoot>

    <tbody>
        {% set last_group = "" %}
        {% for check in checks %}
            {% if check.group != last_group %}
                <tr>
                    <th colspan="6"><a href="{{ url_for(['ChecksController', 'group_detail'], {'group_id': check.group_id}) }}">{{ check.group }}</a></th>
                </tr>
                {% set last_group = check.group %}
            {% endif %}
            <tr{% if check.alerts > 0 %} class="danger"{% endif %}>
                <td><a href="{{ url_for(['ChecksController', 'detail'], {'id': check.id}) }}"><span class="fa fa-search"></span> {{ check.name }}</a></td>
                <td>{% if check.alerts > 0 %}<span class="label label-danger">{{ check.alerts }}</span>{% endif %}</td>
                <td>{{ check.hostname }}</td>
                <td>{{ check.type }}</td>
                <td>{{ check.interval|duration }}</td>
                <td class="td-shrink">
                    {% if current_user.hasAction('checks_suspend') %}
                        {% if check.enabled %}
                            <a href="{{ url_for(['ChecksController', 'toggle'], {'id': check.id}) }}" class="btn btn-default btn-sm"><span class="text-success" title="Click to pause."><span class="fa fa-play"></span> Active</span></a>
                        {% else %}
                            <a href="{{ url_for(['ChecksController', 'toggle'], {'id': check.id}) }}" class="btn btn-default btn-sm"><span class="text-muted" title="Click to activate."><span class="fa fa-pause"></span> Paused</span></a>
                        {% endif %}
                    {% endif %}
                    {% if current_user.hasAction('checks_write') %}
                        <a href="{{ url_for(['ChecksController', 'edit'], {'id': check.id}) }}" class="btn btn-default btn-sm"><span class="fa fa-edit"></span> Modify</a>
                        <a href="{{ url_for(['ChecksController', 'remove'], {'id': check.id}) }}" class="btn btn-default btn-sm" onclick="return confirm('Do you really want to remove this check?')"><span class="fa fa-remove"></span> Remove</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6"><div class="well">No checks defined.</div></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}