{% extends "base.html" %}
{% block title %}Modify alert template {{ template.alert_type }}{% endblock %}
{% block main %}
<h1><span class="fa fa-gear"></span> Alert templates</h1>

<ol class="breadcrumb">
    <li>Settings</li>
    <li><a href="{{ url_for(['AlertTemplatesController', 'index']) }}">Alert templates</a></li>
    <li><a href="{{ url_for(['AlertTemplatesController', 'edit'], {'id': template.id}) }}">{{ template.alert_type }}</a></li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h2 class="panel-title">Modify alert template</h2>
    </div>
    <div class="panel-body">
        <form action="{{ url_for(['AlertTemplatesController', 'edit'], {'id': template.id}) }}" method="post" class="form-horizontal">
            <div class="form-group">
                <label for="inputAlertType" class="col-sm-2 control-label">Alert type:</label>
                <div class="col-sm-10">
                    <input type="text" name="alert_type" id="inputAlertType" value="{{ request.alert_type|default(template.alert_type) }}" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label for="inputTemplate" class="col-sm-2 control-label">Template:</label>
                <div class="col-sm-10">
                    <textarea name="template" id="inputTemplate" class="form-control" rows="10">{{ request.template|default(template.template) }}</textarea>
                </div>
                <div class="col-sm-10 col-sm-offset-2">
                    <p class="help-block">Template receives <code>alert</code> structure containing following fields:<br />
                    - <code>type</code> - type of alert, matching template alert type.<br />
                    - <code>active</code> - whether alert is active or not.<br />
                    - <code>timestamp</code> - date and time when the alert occured.<br />
                    - <code>until</code> - if alert is not active, contains date and time when the alert passed.<br />
                    - <code>data</code> - custom alert data, specific per alert type
                    </p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <input type="submit" value="Modify" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}