{% extends "base.html" %}
{% block main %}
<h1><span class="fa fa-hdd-o"></span> {{ host.hostname }}</h1>

<ol class="breadcrumb">
    <li><a href="{{ url_for(['HostsController', 'index']) }}">Hosts</a></li>
    <li><a href="{{ url_for(['HostsController', 'detail'], {'id': host.id}) }}">{{ host.hostname }}</a></li>
</ol>

{% if current_user.hasAction('hosts_write') %}
    {% if host.virtual %}
        <div class="btn-group" role="group">
            <a href="{{ url_for(['HostsController', 'edit'], {'id': host.id}) }}" class="btn btn-default"><span class="fa fa-edit"></span> Modify</a>
            <a href="{{ url_for(['HostsController', 'remove'], {'id': host.id}) }}" class="btn btn-default" onclick="return confirm('Do you really want to remove this device?');"><span class="fa fa-remove"></span> Remove</a>
        </div>
    {% endif %}
{% endif %}
<div class="btn-group" role="group">
    {% if current_user.hasAction('packages_read') %}
        {% if not host.virtual %}
            <a href="{{ url_for(['PackagesController', 'index']) }}?host={{ host.hostname }}" class="btn btn-default"><span class="fa fa-dropbox"></span> Packages</a>
        {% endif %}
    {% endif %}
    <a href="{{ url_for(['HostsController', 'history'], {'id': host.id}) }}" class="btn btn-default"><span class="fa fa-history"></span> Changelog</a>
    {% if current_user.hasAction('stamps_read') %}
        {% if not host.virtual %}
            <a href="{{ url_for(['StampsController', 'index']) }}?host={{ host.hostname }}" class="btn btn-default"><span class="fa fa-heartbeat"></span> Stamps</a>
        {% endif %}
    {% endif %}
    {% if current_user.hasAction('checks_read') %}
        <a href="{{ url_for(['ChecksController', 'index']) }}?host={{ host.hostname }}" class="btn btn-default"><span class="fa fa-hand-o-right"></span> Checks</a>
        <a href="{{ url_for(['HostsController', 'charts'], {'id': host.id}) }}" class="btn btn-default"><span class="fa fa-area-chart"></span> Charts</a>
    {% endif %}
</div>

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h3 class="panel-title">Overview</h3>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Hostname:</dt>
            <dd>{{ host.hostname }}</dd>

            <dt>Distribution:</dt>
            <dd>{{ host.distribution|default("N/A") }}</dd>

            <dt>Version:</dt>
            <dd>{{ host.version|default("N/A") }}</dd>

            <dt>Kernel:</dt>
            <dd>{{ host.kernel|default("N/A") }}</dd>

            <dt>IP:</dt>
            <dd>{% if host.ip %}{{ host.ip }} ({{ host.resolved_hostname }}){% else %}N/A{% endif %}</dd>

            <dt>Last seen:</dt>
            <dd>{{ host.last_seen|datetime("Y-m-d G:i:s") }}</dd>

            <dt>Uptime:</dt>
            <dd>{{ host.uptime|duration }}</dd>
        </dl>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h3 class="panel-title">Alerts</h3>
    </div>
    <div class="table-reponsive">
        <table class="panel-body table table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <th>When</th>
                    <th>Message</th>
                    <th class="td-shrink"></th>
                </tr>
            </thead>

            <tbody>
                {% for alert in alerts %}
                    <tr class="{% if alert.active %}danger{% endif %}">
                        <td class="text-nowrap">{{ alert.timestamp|datetime("Y-m-d H:i:s") }}</td>
                        <td>{{ alert.getMessage()|raw }}</td>
                        <td>
                            {% if alert.active %}
                            <a class="btn btn-danger btn-xs" href="{{ url_for(['OverviewController', 'dismiss'], {'id': alert.id}) }}?back={{ url_for(['HostsController', 'detail'], {'id': host.id}) }}">Dismiss</a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2"><div class="well">Hooray, no alerts to show!</div></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
