{% extends "base.html" %}
{% block title %}Check types{% endblock %}
{% block main %}
<h1><span class="fa fa-hand-o-right"></span> Check types</h1>

<ol class="breadcrumb">
    <li>Settings</li>
    <li><a href="{{ url_for(['CheckTypesController', 'index']) }}">Check types</a></li>
</ol>

<div class="btn-group">
    {% if current_user.hasAction('check_types_write') %}
        <a href="{{ url_for(['CheckTypesController', 'add']) }}" class="btn btn-default"><span class="fa fa-plus"></span> Add</a>
    {% endif %}
</div>

<table class="table table-compacted table-striped table-hover">
    <thead>
        <tr>
            <th>{{ "Check name"|sorted("name", true) }}</th>
            <th>{{ "Script name"|sorted("identifier") }}</th>
            <th>{{ "Usage"|sorted("usage") }}</th>
            <th class="td-shrink"></th>
        </tr>
    </thead>

    <tbody>
        {% for check in checks %}
            <tr>
                <td>{{ check.name }}</td>
                <td>{{ check.identifier }}</td>
                <td>{{ check.usage }}</td>
                <td class="text-nowrap">
                    {% if current_user.hasAction('check_types_write') %}
                        <a href="{{ url_for(['CheckTypesController', 'edit'], {'id': check.id}) }}" class="btn btn-default btn-sm"><span class="fa fa-edit"></span> Modify</a>
                        <a href="{{ url_for(['CheckTypesController', 'remove'], {'id': check.id}) }}" onclick="return confirm('Do you really want to remove this check type? It will also delete all checks of this type, and also all chart history for the check.');" class="btn btn-default btn-sm"><span class="fa fa-remove"></span> Remove</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}