{% extends "base.html" %}
{% block title %}Check charts{% endblock %}
{% block main %}
<h1><span class="fa fa-gear"></span> Check charts</h1>

<ol class="breadcrumb">
    <li>Settings</li>
    <li><a href="{{ url_for(['CheckChartsController', 'index']) }}">Check charts</a></li>
</ol>

<div class="btn-group">
    {% if current_user.hasAction('check_charts_write') %}
        <a class="btn btn-default" href="{{ url_for(['CheckChartsController', 'add']) }}"><span class="fa fa-plus"></span> Add</a>
    {% endif %}
</div>

<table class="table table-striped table-condensed table-hover">
    <thead>
        <tr>
            <th>{{ "Chart name"|sorted("chart", true) }}</th>
            <th>{{ "Check type"|sorted("type") }}</th>
            <th class="td-shrink"></th>
        </tr>
    </thead>

    <tbody>
    {% for chart in charts %}
        <tr>
            <td>{{ chart.chart }}</td>
            <td>{{ chart.type }}</td>
            <td class="text-nowrap">
                {% if current_user.hasAction('check_charts_write') %}
                    <a href="{{ url_for(['CheckChartsController', 'edit'], {'id': chart.id}) }}" class="btn btn-default btn-sm"><span class="fa fa-edit"></span> Modify</a>
                    <a href="{{ url_for(['CheckChartsController', 'remove'], {'id': chart.id}) }}" class="btn btn-default btn-sm"><span class="fa fa-remove"></span> Remove</a>
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3"><div class="well">No charts defined.</div></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}