{% extends "empty.html" %}
{% block body %}
<nav class="navbar navbar-inverse" style="border-radius: 0">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for(["OverviewController", "index"]) }}">SYSmon</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="{% if controller == 'OverviewController' %}active{% endif %}">
                    <a href="{{ url_for(['OverviewController', 'index']) }}">
                        <span class="fa fa-home"></span> Overview
                        {% if total_alerts_count > 0 %}
                            <span class="label label-danger" style="margin-left: 0.5em">{{ total_alerts_count }}</span>
                        {% endif %}
                    </a>
                </li>
                <li{% if controller == 'HostsController' %} class="active"{% endif %}><a href="{{ url_for(['HostsController', 'index']) }}"><span class="fa fa-hdd-o"></span> Hosts</a></li>
                <li{% if controller == 'PackagesController' %} class="active"{% endif %}><a href="{{ url_for(['PackagesController', 'index']) }}"><span class="fa fa-dropbox"></span> Packages</a></li>
                <li{% if controller == 'StampsController' %} class="active"{% endif %}><a href="{{ url_for(['StampsController', 'index']) }}"><span class="fa fa-heartbeat"></span> Stamps</a></li>
                <li{% if controller == 'ChecksController' %} class="active"{% endif %}><a href="{{ url_for(['ChecksController', 'overview']) }}"><span class="fa fa-hand-o-right"></span> Checks</a></li>

                {% if current_user.hasAction('settings') %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Settings">
                        <span class="visible-xs visible-sr"><span class="fa fa-gear"></span> Settings <span class="caret"></span></span>
                        <span class="hidden-xs hidden-sr"><span class="fa fa-gear"></span> <span class="caret"></span></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% if current_user.hasAction('alert_templates_read') %}
                        <li><a href="{{ url_for(['AlertTemplatesController', 'index']) }}"><span class="fa fa-fw fa-code"></span> Alert templates</a></li>
                        {% endif %}
                        {% if current_user.hasAction('check_charts_read') %}
                            <li><a href="{{ url_for(['CheckChartsController', 'index']) }}"><span class="fa fa-fw fa-area-chart"></span> Check charts</a></li>
                        {% endif %}
                        {% if current_user.hasAction('check_types_read') %}
                            <li><a href="{{ url_for(['CheckTypesController', 'index']) }}"><span class="fa fa-fw fa-hand-o-right"></span> Check types</a></li>
                        {% endif %}
                        {% if current_user.hasAnyAction('alert_templates_read', 'check_charts_read', 'check_types_read', 'users_read', 'actions_read', 'roles_read') %}
                            <li class="divider" role="divider"></li>
                        {% endif %}
                        {% if current_user.hasAction('users_read') %}
                            <li><a href="{{ url_for(['UsersController', 'index']) }}"><span class="fa fa-fw fa-user"></span> Users</a></li>
                        {% endif %}
                        {% if current_user.hasAction('actions_read') %}
                            <li><a href="{{ url_for(['ActionsController', 'index']) }}"><span class="fa fa-fw fa-cube"></span> Actions</a></li>
                        {% endif %}
                        {% if current_user.hasAction('roles_read') %}
                            <li><a href="{{ url_for(['RolesController', 'index']) }}"><span class="fa fa-fw fa-cubes"></span> Roles</a></li>
                        {% endif %}
                        <li class="divider" role="divider"></li>
                        <li><a href="{{ url_for(['HelpController', 'index']) }}"><span class="fa fa-fw fa-question-circle-o"></span> Help</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for(['HelpController', 'index']) }}"><span class="fa fa-fw fa-question-circle-o"></span> Help</a></li>
                {% endif %}
            </ul>
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for(['ProfileController', 'index']) }}"><span class="fa fa-user-circle-o"></span> {{ current_user.username }}</a></li>
                    <li><a href="{{ url_for(['LoginController', 'logout']) }}"><span class="fa fa-sign-out"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container" id="main">
    {{ include("messages.html") }}

    {% block main %}
    {% endblock %}
</div>
<div class="hidden" id="help">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h3 class="panel-title"><span class="fa fa-question-circle-o"></span> <span id="helpTopicTitle">Help</span></h3>
            <ul class="panel-tool-options">
                <li><a href="#" id="helpPanelClose"><span class="fa fa-close"></span></a></li>
            </ul>
        </div>

        <div class="panel-body" id="helpTopicText">
        </div>
    </div>
</div>
{% endblock %}
