{% extends "empty.html" %}
{% block title %}Server error{% endblock %}
{% block body %}
<div class="container">
    <div class="page-header">
        <h1>Server Error</h1>
    </div>

    <h2>{{ get_class(error) }}</h2>

    <div class="alert alert-danger">
        <p>{{ error.getMessage() }} in <code>{{ error.file }}</code> on line <code>{{ error.line }}</code></p>
    </div>

    <h2>Stack trace</h2>
    <ol>
        {% for frame in error.getTrace() %}
        <li><code>{{ frame.class }}{{ frame.type }}{{ frame.function }}({% for arg in frame.args %}{{ arg }}, {% endfor %})</code> in <strong>{{ frame.file }}</strong> on line <strong>{{ frame.line }}</strong></li>
        {% endfor %}
    </ol>
</div>
{% endblock %}