{% macro error_class(formerrors, name) %}
    {% if attribute(formerrors, name) %}has-error{% endif %}
{% endmacro %}

{% macro error(formerrors, name) %}
    {% if attribute(formerrors, name) %}
        <div class="col-sm-10 col-sm-offset-2">
            {% for error in attribute(formerrors, name) %}
                <p class="help-block">{{ error|raw }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}

{% macro checkbox(formerrors, name, label, value) %}
    {% import _self as fm %}

    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <div class="checkbox {{ fm.error_class(formerrors, name) }}">
                <label>
                    <input type="hidden" name="{{ name }}" value="0" />
                    <input type="checkbox" name="{{ name }}"{% if value %} checked{% endif %} value="1" />
                    {{ label }}
                </label>
                {{ fm.error(formerrors, name) }}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro input(formerrors, name, label, value) %}
    {% import _self as fm %}

    <div class="form-group {{ fm.error_class(formerrors, name) }}">
        <label class="col-sm-2 control-label" for="input{{ name }}">{{ label }}</label>
        <div class="col-sm-10">
            <input type="text" name="{{ name }}" id="input{{ name }}" value="{{ value }}" class="form-control" />
        </div>
        {{ fm.error(formerrors, name) }}
    </div>
{% endmacro %}