{% extends "base.html" %}
{% block main %}
<h1><span class="fa fa-home"></span> Overview</h1>

<ol class="breadcrumb">
    <li><a href="{{ url_for(["OverviewController", "index"])}}">Overview</a></li>
</ol>

<div class="row">
    {% set items = 0 %}
    {% if current_user.hasAction('hosts_read') %}
        {% set items = items + 1 %}
    {% endif %}
    {% if current_user.hasAction('stamps_read') %}
        {% set items = items + 1 %}
    {% endif %}
    {% if current_user.hasAction('checks_read') %}
        {% set items = items + 1 %}
    {% endif %}

    {% if current_user.hasAction('hosts_read') %}
        <a href="{{ url_for(['HostsController', 'index']) }}" class="col-sm-{{ 12 / items }} box">
            <div class="panel {% if hosts.alert_count > 0 %}panel-danger{% else %}panel-success{% endif %}">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title"><span class="fa fa-hdd-o"></span> Hosts</h3>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Total number of hosts:</dt>
                        <dd>{{ hosts.total_count }}</dd>

                        <dt>Hosts with alerts:</dt>
                        <dd>{{ hosts.alert_count }}</dd>
                    </dl>
                </div>
            </div>
        </a>
    {% endif %}

    {% if current_user.hasAction('stamps_read') %}
        <a href="{{ url_for(['StampsController', 'index']) }}" class="col-sm-{{ 12 / items }} box">
            <div class="panel {% if stamps.failed > 0 %}panel-danger{% else %}panel-success{% endif %}">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title"><span class="fa fa-heartbeat"></span> Stamps</h3>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Total number of stamps:</dt>
                        <dd>{{ stamps.total_count }}</dd>

                        <dt>Failed stamps:</dt>
                        <dd>{{ stamps.failed }}</dd>
                    </dl>
                </div>
            </div>
        </a>
    {% endif %}

    {% if current_user.hasAction('checks_read') %}
        <a href="{{ url_for(['ChecksController', 'index']) }}" class="col-sm-{{ 12 / items }} box">
            <div class="panel {% if checks.failed > 0 %}panel-danger{% else %}panel-success{% endif %}">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title"><span class="fa fa-hand-o-right"></span> Checks</h3>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Total number of checks:</dt>
                        <dd>{{ checks.total_count }}</dd>

                        <dt>Failed checks:</dt>
                        <dd>{{ checks.failed }}</dd>
                    </dl>
                </div>
            </div>
        </a>
    {% endif %}
</div>

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h2 class="panel-title">Latest alerts</h2>
    </div>
    <div class="table-responsive">
        <table class="panel-body table table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th>When</th>
                    <th>Source</th>
                    <th>Message</th>
                    <th class="td-shrink"></th>
                </tr>
            </thead>

            <tbody>
                {% for alert in alerts %}
                    <tr{% if alert.active and not alert.muted %} class="danger"{% endif %}>
                        <td class="text-nowrap">{{ alert.timestamp|datetime("Y-m-d G:i:s") }}</td>
                        <td class="text-nowrap">
                            {% if alert.check %}
                                <a href="{{ url_for(['ChecksController', 'detail'], {'id': alert.check_id}) }}"><span class="fa fa-hand-o-right"></span> {{ alert.check }}</a>
                            {% elseif alert.stamp %}
                                <a href="{{ url_for(['StampsController', 'detail'], {'id': alert.stamp_id}) }}"><span class="fa fa-heartbeat"></span> {{ alert.stamp }}</a>
                            {% else %}
                                <a href="{{ url_for(['HostsController', 'detail'], {'id': alert.server_id}) }}"><span class="fa fa-hdd-o"></span> {{ alert.hostname }}</a>
                            {% endif %}
                        </td>
                        <td>{{ alert.getMessage()|raw }}</td>
                        <td class="td-shrink">
                            {% if alert.active %}
                            <a class="btn btn-success btn-xs" href="{{ url_for(['OverviewController', 'resolve'], {'id': alert.id}) }}">Resolve</a>
                            <a class="btn btn-danger btn-xs" href="{{ url_for(['OverviewController', 'dismiss'], {'id': alert.id}) }}">Mute</a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3"><div class="well">Hooray, no alerts to show.</div></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
