Source: gcm-sysmon-collector
Section: admin
Priority: optional
Maintainer: Michal Kuchta <niximor@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: http://sysmon.gcm.cz/

Package: gcm-sysmon-collector
Architecture: all
Depends: gcm-sysmon-collector-core (=${binary:Version}), gcm-sysmon-check-df (=${binary:Version}), gcm-sysmon-check-http (=${binary:Version}), gcm-sysmon-check-ping (=${binary:Version}), gcm-sysmon-check-port-open (=${binary:Version})
Description: Sysmon collector meta package.
 Metapackage to install complete SYSmon client suite.

Package: gcm-sysmon-collector-core
Architecture: all
Depends: ${shlib:Depends}, ${misc:Depends}, python, python-requests
Replaces: gcm-sysmon-collector
Description: SYSmon collector core functionality.
 Collect and check scripts, configuration and other required files for SYSmon probe to work.

Package: gcm-sysmon-check-df
Architecture: all
Depends: python, gcm-sysmon-collector-core
Description: SYSmon df check plugin.
 SYSmon df check plugin.

Package: gcm-sysmon-check-http
Architecture: all
Depends: python, python-requests, gcm-sysmon-collector-core
Description: SYSmon http check plugin.
 SYSmon http check plugin.

Package: gcm-sysmon-check-ping
Architecture: all
Depends: python, gcm-sysmon-collector-core
Description: SYSmon ping check plugin.
 SYSmon ping check plugin

Package: gcm-sysmon-check-port-open
Architecture: all
Depends: python, gcm-sysmon-collector-core
Description: SYSmon port-open check plugin.
 SYSmon port-open check plugin.
